@media screen and (min-width: 1280px){
    
    main {
        display: flex;
        justify-content: center;
        flex-direction:row;
        padding: 80px;
    }

    img {
       padding: 40px;
    }

    div {
        gap: 60px;
    }

    div h1 {
        font-size: 48px;
    }

    div p {
        font-size: 32px;
    }

    div button {
        font-size: 24px;
    }
}